@import url('https://fonts.googleapis.com/css2?family= Montserrat :wght@300 & display=swap');

body {
    margin: 0;
    background: #201b2c;
    font-family: 'Montserrat', sans-serif;
}

.main-login {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.left-login>h1 {
    margin-left: 40px;
    color: #77ffc0;
    padding: 0 70px 0 0;
    width: 50vw;
    right: 100vh;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rigth-login {
    width: 60vw;
    right: 100vh;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 10px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login>h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

label {
    display: block;
    margin-top: 10px;
}

.textfild {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;
}

.textfild>input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #514869;
    color: #3ecca9de;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
    margin: 10px 0;
}

.textfild>label {
    color: #c2d8ce;
    margin-top: 20px;
    font-size: 18px;

}

.textfild>input::placeholder {
    color: #f0ffff94
}

.btn-login {
    width: 80%;
    padding: 15px 0;
    margin: 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #514869;
    cursor: pointer;
    background: #00ff88;
}

.img {
    width: 60%;
    margin-left: 100px;
}